.box.navigation-maschinen {
	padding-bottom: $difference-m;
	@extend .background-beige;
	margin-top: -$difference-xs;
}

.box.navigation-maschinen .top {
	padding-bottom: $difference-m;
	text-align: center;
	@extend .flex-center-align;
}

.box.navigation-maschinen .linien-nav {
	@extend .flex-center-align;
}

.box.navigation-maschinen .item {
	width: calc(100% / 5);
	text-align: center;
	border: solid 1px $blue;
	padding-top: $difference-xs;
	padding-bottom: $difference-xs;
	transition: 0.2s ease;
	cursor: pointer;
}

.box.navigation-maschinen .linie-nav-2 {
	border-left: 0px;
	border-right: 0px;
}

.box.navigation-maschinen .item:hover {
	@extend .background-blue;
}


.active-linie-1 .box.navigation-maschinen .linie-nav-1,
.active-linie-2 .box.navigation-maschinen .linie-nav-2,
.active-linie-3 .box.navigation-maschinen .linie-nav-3 {
	@extend .background-blue;
}
