.box.technische-beratung-slide {
	@extend .background-beige;
	margin-top: -$difference-xs;
}

.box.technische-beratung-slide {
	padding-bottom: 0px;
}

.box.technische-beratung-slide .right {
	float: left;
	width: calc(#{$right} - #{$padding-sides});
	padding-left: $padding-sides;
	padding-right: 0px;
}

.box.technische-beratung-slide .left {
	float: left;
	width: calc(#{$left} - #{$padding-sides});
		padding-left: $difference-s;
}

.box.technische-beratung-slide .white {
	@extend .background-white;
	display: inline-block;
	margin-top: -$difference-xxl;
	width: 100%;
  height: 150px;
}

.box.technische-beratung-slide .white .left {
	float: left;
	width: calc(#{$left} - #{$padding-sides});
	padding-left: $difference-s;
	margin-left: $right;
	padding-top: $difference-l;
	padding-bottom: $difference-l;
}

.box.technische-beratung-slide .button {
	@extend .background-red;
	padding: 6px 12px 6px 12px;
	text-align: center;
	display: inline-block;
	margin-top: $difference-m;
}

.box.technische-beratung-slide .button a:hover {
	color: white;
}
