.box.electronic {
	@extend .background-beige;
  display: flex;
	position: relative;
}

.box.electronic .logo-electronic {
  margin-top: $difference-m;
}

.box.electronic .logo-electronic img {
  width: 25%;
}
