.box.navigation-main {
	@extend .background-blue;
	padding-top: $difference-s;
	padding-bottom: $difference-s;
}

.box.navigation-main .menu {
  @extend .flex-center-align;
}

.box.navigation-main .menu li {
	padding-left: $difference-xs;
	padding-right: $difference-xs;
}

.home .logo-red {
	display: none;
}

.logo-red {
  height: 25px;
  position: absolute;
  top: 16px;
	left: $padding-sides;
}
