.box.navigation-blocks {
	padding-bottom: $difference-m;
}

.box.navigation-blocks .top {
	padding-bottom: $difference-m;
	text-align: center;
	@extend .flex-center-align;
}

.box.navigation-blocks .navi-block{
	@extend .flex-center-align;
  flex-wrap: wrap;
	display: flex;
}

.box.navigation-blocks .center {
	padding-left: 20vw;
	padding-right: 20vw;
}

.box.navigation-blocks .item {
	width: calc(100vw / 6);
	height: calc(100vw / 6);
	text-align: center;
	@extend .background-beige;
	cursor: pointer;
	margin: $difference-xs;
	transition: 0.2s ease;
}


.box.navigation-blocks .item:hover {
	@extend .background-dark-beige;
}

.box.navigation-blocks img {
    width: 40%;
}

.box.navigation-blocks .word {
    padding-top: 2vw;
    padding-bottom: 1.7vw;
}
