.box.welcome {
	@extend .background-blue;
	padding-top: 0px;
	padding-bottom: 0px;
}

.box.welcome .right {
	@extend .right-no-padding ;
}

.box.welcome .left {
  height: 40vw; //HEIGHT OF BOX
	position: relative;
}

.box.welcome .carousel-cell {
  height: 40vw; //HEIGHT OF BOX
}

.logo-big {
  padding-top: 6vw;
}

.logo-big img {
  width: 20%;
}

.box.welcome .headline {
	position: absolute;
	bottom: $difference-m;
}

.box.welcome .image-slideshow {
	position: absolute;
	width: $right;
}
