.box.navigation-main {
	@extend .background-blue;
	padding-top: $difference-s;
	padding-bottom: $difference-s;
}

.box.navigation-main .menu {
  @extend .flex-center-align;
}

.box.navigation-main .menu li {
	padding-left: $difference-xs;
	padding-right: $difference-xs;
}
