.box.welcome {
	@extend .background-blue;
	padding-top: 0px;
	padding-bottom: 0px;
}

.box.welcome .right {
	@extend .right-no-padding ;
}


.box.welcome .left {
  height: 40vw; //HEIGHT OF BOX
	position: relative;

	@media screen and (max-width: $break-s) {
		height: auto; //HEIGHT OF BOX
		padding-bottom: $difference-s;
	}
}

.box.welcome .carousel-cell {
  height: 40vw; //HEIGHT OF BOX

	@media screen and (max-width: $break-s) {
		height: 60vw; //HEIGHT OF BOX
	}
}

.logo-big {
  padding-top: 4vw;
  margin-left: -1.3vw;

	@media screen and (max-width: $break-s) {
		margin-bottom: $difference-m;
	}
}

.box.welcome .headline {
	margin-top: 50vw;
}

.logo-big img {
  width: 28%;
	position: absolute;
	z-index: 10;
}

.box.welcome .headline {
	position: absolute;
	bottom: $difference-m;

	@media screen and (max-width: $break-s) {
		position: initial;
		bottom: initial;
	}
}

.box.welcome .image-slideshow {
	position: absolute;
	width: $right;

	@media screen and (max-width: $break-s) {
		position: initial;
		width: initial;
	}
}

.box.welcome .caption {
	display: none;
}


.box.welcome  .carousel-cell img {
	height: 100%;
}

.box.welcome .flickity-page-dots {
    bottom: 20px;
}
