.box.navigation-main {
	@extend .background-blue;
	padding-top: $difference-s;
	padding-bottom: $difference-s;
}

.box.navigation-main .menu {
  @extend .flex-center-align;
}

.box.navigation-main .menu li {
	padding-left: $difference-xs;
	padding-right: $difference-xs;
}

.box.navigation-main .menu a {
	@extend .font-s;
	@extend .font-regular;
}

.home .logo-red {
	display: none;
}

.logo-red {
  height: 25px;
  position: absolute;
  top: 16px;
	left: $padding-sides;
}

.home .navi-empty .box.navigation-main {
		@extend .background-blue;
}

.navi-empty .box.navigation-main {
		@extend .background-white;
}

.navi-empty .box.navigation-main a,
.navi-empty .box.navigation-main .menu {
    visibility: hidden;
}

.navi-hide .box.navigation-main {
    position: fixed;
    z-index: 100;
    top: -60px;
    left: 0px;
    width: 100%;
		transition: 0.5s ease;
}

.navi-hide-active .navi-hide .box.navigation-main {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 100%;
}
