.left {
	float: left;
	@extend .left-padding ;
}

.right {
	float: left;
	@extend .right-padding ;
}

.center {
	@extend .center-padding ;
}

.box,
.modul {
  width: 100%;
  display: inline-block;
	padding-top: $difference-m;
	padding-bottom: $difference-s;
}

.icon img {
  height: 45px;
}

.icon {
  margin-top: $difference-xs;
}


.button {
	@extend .background-red;
	padding: 6px 12px 6px 12px;
	text-align: center;
	display: inline-block;
	margin-top: $difference-m;
}

.button a {
	color: white;
}

.button a:hover {
	color: white;
}
