.left {
	float: left;
	@extend .left-padding ;
}

.right {
	float: left;
	@extend .right-padding ;
}

.center {
	@extend .center-padding ;
}

.box {
  width: 100%;
  display: inline-block;
	padding-top: $difference-m;
	padding-bottom: $difference-s;
}
