.button {
	@extend .background-red;
	padding: 8px 22px 8px 22px;
	text-align: center;
	display: inline-block;
	margin-top: $difference-m;
	transition: 0.2s ease;
	-webkit-appearance: none;
}

.button:hover {
	background-color: $blue;
}

.button a {
	color: white;
	@extend .font-s;

	@media screen and (max-width: $break-s) {
		font-size: 16px;
	}
}

.button a:hover {
	color: white;
}
