.button {
	@extend .background-red;
	padding: 8px 14px 8px 14px;
	text-align: center;
	display: inline-block;
	margin-top: $difference-m;
	transition: 0.2s ease;
}

.button:hover {
	background-color: $blue;
}

.button a {
	color: white;
	@extend .font-s;
}

.button a:hover {
	color: white;
}
