
.left-padding {
	padding-left: $padding-sides;
	width: calc(#{$left} - #{$padding-sides});
}

.left-no-padding {
	padding-left: 0px;
	width: $left;
}

.right-padding {
	padding-right: $padding-sides;
	width: calc(#{$right} - #{$padding-sides});
}

.right-no-padding {
	padding-right: 0px;
	width: $right;
}



.simple-left-padding {
	padding-left: $padding-sides;
	width: calc(#{$simple-left} - #{$padding-sides});
}

.simple-left-no-padding {
	padding-left: 0px;
	width: $simple-left;
}

.simple-right-padding {
	padding-right: $padding-sides;
	width: calc(#{$simple-right} - #{$padding-sides});
}

.simple-right-no-padding {
	padding-right: 0px;
	width: $simple-right;
}



.center-padding {
	padding-left: $padding-sides;
	padding-right: $padding-sides;
}

.flex-center-align {
	display: flex;
	align-items: center;
  justify-content: center;
}
