.background-blue {
	background-color: $background-color;
	color: white;
}

.left-padding {
	padding-left: 50px;
	width: calc(45% - 50px);
}

.left-no-padding {
	padding-left: 0px;
	width: 45%;
}

.right-padding {
	padding-right: 50px;
	width: calc(55% - 50px);
}

.right-no-padding {
	padding-right: 0px;
	width: 55%;
}
