.font-light {
	font-family: 'SequelSansW05-LightBody';
	font-weight: normal;
}

.font-regular {
	font-family: 'SequelSansW05-RomanBody';
	font-weight: normal;
}

.font-medium {
	font-family: 'SequelSansW05-MediumBody';
	font-weight: normal;
}

.font-xxs {
	font-size: 10px;
  line-height: 18px;
	font-weight: normal;

	@media screen and (max-width: $break-m) {
		font-size: 8px;
	}

	@media screen and (max-width: $break-s) {
		font-size: 10px;
	}
}

.font-xs {
	font-size: 13px;
  line-height: 18px;
	font-weight: normal;

	@media screen and (max-width: $break-m) {
		font-size: 8px;
	}

	@media screen and (max-width: $break-s) {
		font-size: 10px;
	}
}

.font-s {
	font-size: 16px;
  line-height: 24px;
	font-weight: normal;

	@media screen and (max-width: $break-m) {
		font-size: 13px;
	}

	@media screen and (max-width: $break-s) {
		font-size: 14px;
	}
}


.font-m {
	font-size: 19px;
  line-height: 33px;
	font-weight: normal;

	@media screen and (max-width: $break-m) {
		font-size: 17.5px;
	}

	@media screen and (max-width: $break-s) {
		font-size: 14px;
		line-height: 1.6;
	}
}


.font-l {
	font-size: 26px;
  line-height: 1.38;
	font-weight: normal;

	@media screen and (max-width: $break-m) {
		font-size: 24px;
	}

	@media screen and (max-width: $break-s) {
		font-size: 20px;
	}
}

.font-xl {
	font-size: 30px;
  line-height: 44px;
	font-weight: normal;

	@media screen and (max-width: $break-m) {
		font-size: 17.5px;
	}

	@media screen and (max-width: $break-s) {
		font-size: 25px;
	}
}
