
.left-padding {
	padding-left: $padding-sides;
	width: calc(#{$left} - #{$padding-sides});

	@media screen and (max-width: $break-s) {
		padding-left: $difference-s;
		padding-right: $difference-s;
		width: calc(100% - #{$difference-m}) !important;
	}
}

.left-no-padding {
	padding-left: 0px;
	width: $left;
}

.right-padding {
	padding-right: $padding-sides;
	width: calc(#{$right} - #{$padding-sides});

	@media screen and (max-width: $break-s) {
		padding-left: $difference-s;
		padding-right: $difference-s;
		width: calc(100% - #{$difference-m}) !important;
	}
}

.right-no-padding {
	padding-right: 0px;
	width: $right;

	@media screen and (max-width: $break-s) {
		width: 100% !important;
		padding: 0px;
	}
}



.simple-left-padding {
	padding-left: $padding-sides;
	width: calc(#{$simple-left} - #{$padding-sides});

	@media screen and (max-width: $break-s) {
		padding-left: $difference-s;
		padding-right: $difference-s;
		width: calc(100% - #{$difference-m}) !important;
	}
}

.simple-left-no-padding {
	padding-left: 0px;
	width: $simple-left;
}

.simple-right-padding {
	padding-right: $padding-sides;
	width: calc(#{$simple-right} - #{$padding-sides});

	@media screen and (max-width: $break-s) {
		padding-left: $difference-s;
		padding-right: $difference-s;
		width: calc(100% - #{$difference-m}) !important;
	}
}

.simple-right-no-padding {
	padding-right: 0px;
	width: $simple-right;
}



.center-padding {
	padding-left: $padding-sides;
	padding-right: $padding-sides;

	@media screen and (max-width: $break-s) {
		padding-left: $difference-s;
		padding-right: $difference-s;
	}
}

.flex-center-align {
	display: flex;
	align-items: center;
  justify-content: center;
}
