.background-blue {
	background-color: $blue;
	color: white;

	& a {
		color: white;
	}

	& a:hover {
		color: $red;
	}
}

.background-red {
	background-color: $red;
	color: white;

	& a {
		color: white;
	}

	& a:hover {
		color: $blue;
	}
}

.left-padding {
	padding-left: $padding-sides;
	width: calc(#{$left} - #{$padding-sides});
}

.left-no-padding {
	padding-left: 0px;
	width: $left;
}

.center-padding {
	padding-left: $padding-sides;
	padding-right: $padding-sides;
}

.right-padding {
	padding-right: $padding-sides;
	width: calc(#{$right} - #{$padding-sides});
}

.right-no-padding {
	padding-right: 0px;
	width: $right;
}

.flex-center-align {
	display: flex;
	align-items: center;
  justify-content: center;
}
