.background-blue {
	background-color: $blue;
	color: white;

	& a {
		color: white;
	}

	& a:hover {
		color: $red;
	}
}

.background-red {
	background-color: $red;
	color: white;

	& a {
		color: white;
	}

	& a:hover {
		color: $blue;
	}
}

.background-beige {
	background-color: $beige;
	color: $blue;

	& a {
		color: $blue;
	}

	& a:hover {
		color: $red;
	}
}

.background-dark-beige {
	background-color: $dark-beige;
	color: $blue;

	& a {
		color: $blue;
	}

	& a:hover {
		color: $red;
	}
}

.background-white {
	background-color: white;
	color: $blue;

	& a {
		color: $blue;
	}

	& a:hover {
		color: $red;
	}
}
