h2 {
	font-size: 28px;
  line-height: 1.38;
	font-weight: normal;

	@media screen and (max-width: $break-m) {
		font-size: 20px;
	}

	@media screen and (max-width: $break-s) {
		font-size: 15px;
	}
}

h3 {
	font-size: 20px;
  line-height: 1.38;
	font-weight: normal;

	@media screen and (max-width: $break-m) {
		font-size: 20px;
	}

	@media screen and (max-width: $break-s) {
		font-size: 15px;
	}
}

h4 {
	font-size: 17.5px;
  line-height: 1.38;
	font-weight: bold;

	@media screen and (max-width: $break-m) {
		font-size: 20px;
	}

	@media screen and (max-width: $break-s) {
		font-size: 15px;
	}
}

.headline {
	padding-right: $difference-s;
}

p {
	font-size: 17px;
  line-height: 1.74;
}

p-2 {
	font-size: 15px;
}

p-3 {
	font-size: 12px;
	font-weight: 500;
	color: $red !important;
	text-transform: uppercase;


		& a {
			color: $red !important;
		}

		& a:hover {
			color: $blue !important;
		}
}
