html, * {
	margin: 0px;
	padding: 0px;
}

body {
	color: $blue;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@extend .font-m;
}

a {
	text-decoration: none;
	color: $blue;
	transition: 0.2s ease;
	@extend .font-m;
}

a:hover {
	text-decoration: none;
	color: $red;
}

p {
	@extend .font-m;
}

li {
	list-style: none;
	@extend .font-m;
}

strong {
	@extend .font-m;
}

@font-face {
    font-family: 'SequelSansW05-MediumBody';
    src: url('../../fonts/SequelSansW05-MediumBody.woff2') format('woff2'),
        url('../../fonts/SequelSansW05-MediumBody.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SequelSansW05-LightBody';
    src: url('../../fonts/SequelSansW05-LightBody.woff2') format('woff2'),
        url('../../fonts/SequelSansW05-LightBody.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SequelSansW05-RomanBody';
    src: url('../../fonts/SequelSansW05-RomanBody.woff2') format('woff2'),
        url('../../fonts/SequelSansW05-RomanBody.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.left {
	float: left;
	@extend .left-padding ;
}

.right {
	float: left;
	@extend .right-padding ;
}

.center {
	@extend .center-padding ;
}

.box,
.modul {
  width: 100%;
  display: inline-block;
	padding-top: $difference-m;
	padding-bottom: $difference-s;
}

.icon img {
  height: 45px;
}

.icon {
  margin-top: $difference-xs;
}

.headline {
	padding-right: $difference-s;
}
