html, * {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: helvetica, arial;
	color: $blue;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: $blue;
	transition: 0.2s ease;
}

a:hover {
	text-decoration: none;
	color: $red;
}

p {
	@extend .font-m;
}

li {
	list-style: none;
	@extend .font-m;
}


.left {
	float: left;
	@extend .left-padding ;
}

.right {
	float: left;
	@extend .right-padding ;
}

.center {
	@extend .center-padding ;
}

.box,
.modul {
  width: 100%;
  display: inline-block;
	padding-top: $difference-m;
	padding-bottom: $difference-s;
}

.icon img {
  height: 45px;
}

.icon {
  margin-top: $difference-xs;
}

.headline {
	padding-right: $difference-s;
}
