.modul.many-maps .inside {
	@extend .flex-center-align;
  flex-wrap: wrap;
	display: flex;
  justify-content: space-between;
	@extend .center-padding;

	@media screen and (max-width: $break-s) {
		display: block;
	  flex-wrap: initial;
	  justify-content: initial;
	}
}

.modul.many-maps .all {
	@media screen and (max-width: $break-s) {
		display: block;
		overflow-x: scroll;
		width: calc(100% - #{$difference-m});
		-webkit-overflow-scrolling: touch;
    height:100%;
	}
}

.modul.many-maps .acf-map {
	width: 100%;
	height: 30vw;

	@media screen and (max-width: $break-s) {
		height: 60vw;
	}
}

.modul.many-maps .acf-map img {
   max-width: inherit !important;
}


.modul.many-maps .item {
	width: calc(100% / 4.2);
	margin-bottom: $difference-m;

	@media screen and (max-width: $break-s) {
		width: 60vw;
		float: left;
		padding-left: $difference-s;
	}
}

.modul.many-maps .item img {
	margin-top: $difference-s;
	width: 30%;
}

.modul.many-maps .text {
	margin-top: $difference-s;
}

.modul.many-maps .text p,
.modul.many-maps .text a {
	@extend .font-s;
}

.modul.many-maps .link {
	padding-top: $difference-s;
}

.modul.many-maps .link a {
	@extend .font-s;
	@extend .font-regular;
	text-transform: uppercase;
	color: $red;
}

.modul.many-maps .link a:hover {
	color: $blue;
}

.modul.many-maps .maps-link {
	margin-top: $difference-s;
}

.modul.many-maps .maps-link a {
	@extend .font-s;
	@extend .font-light;
}
