.modul.logo-maps {
	@extend .background-beige;
}

.modul.logo-maps .top {
	@extend .font-l;
	@extend .font-regular;
	@extend .center-padding;
	text-align: center;
	padding-top: $difference-s;
}

.modul.logo-maps .image {
	@extend .center-padding;
	text-align: center;
}

.modul.logo-maps .image img {
	width: 60%;
	height: 60%;
	object-fit: cover;

	@media screen and (max-width: $break-s) {
		width: 100%;
		height: 100%;
	}
}
