.modul.linien {
	background-size: cover;
	@extend .background-blue ;
}

.modul.linien .top {
	@extend .center-padding ;
	padding-bottom: $difference-l;
	@extend .font-xl;
	@extend .font-regular;
	width: 50%;
}

.modul.linien .item-container {
	@extend .flex-center-align;
	justify-content: space-around;
	align-items: unset;
	@extend .center-padding ;
	margin-bottom: $difference-l;
}

.modul.linien .item {
	@extend .background-white ;
	width: calc(100% / 4);
}

.modul.linien .sub-headline {
  padding: 12px 10px 7px 10px;
	border-bottom: 1px solid $blue;
}

.modul.linien .inhalt {
  padding: 10px 15px 30px 15px;
}

.modul.linien .inhalt p {
	@extend .font-s;
}

.modul.linien .inhalt li {
	@extend .font-s;
}

.modul.linien .inhalt li:before {
	content: "\2014";
	padding-right: 5px;
}

.modul.linien .item li {
	margin-bottom: $difference-xs;
}

.modul.linien .link {
  width: 100%;
  text-align: center;
	padding-bottom: $difference-s;
}

.modul.linien .link  a {
		@extend .font-l;
		@extend .font-regular;
}
