.modul.text {
  display: flex;
	position: relative;
	padding-bottom: $difference-m;
}

.modul.text .logo-electronic {
  margin-top: $difference-m;
}

.modul.text .logo-electronic img {
  width: 10%;
}

.modul.text .logo-electronic.big img {
  width: 25%;
}
