.modul.text-accordeon .text {
	height: 12vw;
	overflow: hidden;

	@media screen and (max-width: $break-s) {
		height: 25vw;
	}
}

.modul.text-accordeon .open .text  {
	height: auto !important;
}

.modul.text-accordeon .text p {
	@extend .font-s;
}

.modul.text-accordeon .link {
	margin-top: $difference-s;
	@extend .font-regular;
	text-transform: uppercase;
	color: $red;
	cursor: pointer;
	@extend .font-s;
}

.modul.text-accordeon .link:hover {
	color: $blue;
}

.modul.text-accordeon .transparent {
    margin-top: -250px;
    width: 100%;
    height: 200px;
}

.modul.text-accordeon .open .transparent {
    display: none;
}
