.modul.slideshow-textbox {
	padding-bottom: 0px;
  display: flex;

	@media screen and (max-width: $break-s) {
		display: inline-block;
	}
}

.modul.slideshow-textbox .right {
	float: left;
	width: calc(#{$right} - #{$padding-sides});
	padding-left: $padding-sides;
	padding-right: 0px;

	@media screen and (max-width: $break-s) {
		width: 100% !important;
		padding-left: 0px;
		padding-right: 0px;
		float: none;
	}
}

.modul.slideshow-textbox .left {
	float: left;
	width: calc(#{$left} - #{$padding-sides});
	padding-left: $difference-s;
}

.modul.slideshow-textbox .technische-spez {
	margin-bottom: $difference-m;
	@extend .font-medium;
}

.modul.slideshow-textbox .text {
	padding-bottom: $difference-m;
}

.modul.slideshow-textbox .text p {
	@extend .font-s;
}

.modul.slideshow-textbox .text li {
	@extend .font-s;
}

.modul.slideshow-textbox .text li:before {
	content: "\2014";
	padding-right: 5px;
}
