.modul.slideshow {
	padding-bottom: 0px;
  display: grid;
}

.modul.slideshow .right {
	float: left;
	width: calc(#{$right} - #{$padding-sides});
	padding-left: $padding-sides;
	padding-right: 0px;

	@media screen and (max-width: $break-s) {
		width: 100% !important;
		padding-left: 0px;
		padding-right: 0px;
		float: none;
	}
}

.modul.slideshow .left {
	float: left;
	width: calc(#{$left} - #{$padding-sides});
	padding-left: $difference-s;

	@media screen and (max-width: $break-s) {
		display: none;
	}
}

.modul.slideshow .mobil.left {
	@media screen and (max-width: $break-s) {
		display: block !important;
	}
}

.modul.slideshow .left p {
	@extend .font-xl;
	@extend .font-regular;
}

.modul.slideshow .colour {
	display: inline-block;
	margin-top: -150px;
	width: 100%;

	@media screen and (max-width: $break-s) {
		padding-top: 0px;
		margin: 0px;
	}
}

.modul.slideshow .colour .left {
	float: left;
	width: calc(#{$left} - #{$padding-sides});
	padding-left: $difference-s;
	margin-left: $right;
	padding-top: $difference-l;
	padding-bottom: $difference-l;
	@extend .font-s;

	@media screen and (max-width: $break-s) {
		margin-left: 0px;
		display: block !important;
		padding-top: $difference-m;
	}
}


.modul.slideshow .colour .left .inside {
	width: 70% !important;

	@media screen and (max-width: $break-s) {
		width: 100%;
	}
}

.modul.slideshow .link {
	@extend .background-blue;
  width: 100%;
  text-align: center;
	padding-bottom: $difference-s;
	margin-top: -$difference-xs;
}

.modul.slideshow .flickity-page-dots {
	@media screen and (max-width: $break-s) {
    bottom: 24vw;
	}
}


.modul.slideshow .image-slideshow {
	@media screen and (max-width: $break-s) {
    height: 60vw;
		overflow: hidden;
	}
}
