.modul.background-link {
	text-align: center;
	padding-top: $difference-l;
	padding-bottom: $difference-l;
}

.modul.background-link .top {
	@extend .font-l;
	@extend .font-regular;
	@extend .center-padding;
}


.modul.background-link .bottom {
padding-top: $difference-l;
}

.modul.background-link .bottom a {
	@extend .font-regular;
	@extend .font-m;
}
