.modul.background-text {
	padding-top: $difference-l;
	padding-bottom: $difference-l;
	height: 40vw;
	@extend .center-padding;
	@extend .background-blue;
	@extend .font-xl;
	@extend .font-regular;

	@media screen and (max-width: $break-s) {
		height: 60vw;
		width: calc(100% - #{$difference-m});
	}
}

.modul.background-text .text {
	width: 75%;
}
