.modul.slideshow-textbox {
	margin-top: -$difference-xs;
	padding-bottom: $difference-xl;
}

.modul.slideshow-textbox .right {
	float: left;
	width: calc(#{$right} - #{$padding-sides});
	padding-left: $padding-sides;
	padding-right: 0px;
}

.modul.slideshow-textbox .left {
	float: left;
	width: calc(#{$left} - #{$padding-sides});
	padding-left: $difference-s;
}

.modul.slideshow-textbox .technische-spez {
	margin-bottom: $difference-m;
}

.modul.slideshow-textbox .text p {
	font-size: 12px;
	line-height: 1.3;
	margin-bottom: $difference-xxs;
}

.modul.slideshow-textbox .text li {
	font-size: 12px;
	line-height: 1.3;
	list-style: decimal;
	margin-left: 16px;
	margin-bottom: $difference-xs;
}

.modul.slideshow-textbox .flickity-page-dots {
    bottom: $difference-l;
}

.modul.slideshow-textbox .carousel-cell {
    width: 100%;
    height: calc(40vw - #{$difference-xl});
}

.modul.slideshow-textbox .caption {
	padding-top: 2px;
	font-size: 12px;
	line-height: 1.3;
}
