.modul.maps .text p,
.modul.maps .text a {
	@extend .font-regular;
	@extend .font-s;
}

.modul.maps .acf-map {
	width: 100%;
	height: 40vw;

	@media screen and (max-width: $break-s) {
		height: 80vw;
	}
}

.modul.maps .acf-map img {
   max-width: inherit !important;
}
