.modul.background-text {
	padding-top: $difference-l;
	padding-bottom: $difference-l;
	height: 40vw;
	@extend .center-padding;
	@extend .background-blue;
	@extend .font-xl;
	@extend .font-regular;
	background-size: cover;
	background-position-x: center;
	padding-left: 0px;
	padding-right: 0px;

	@media screen and (max-width: $break-s) {
		width: 100%;
		height: inherit;
	}
}

.modul.background-text .text {
	padding-left: $difference-m;
	padding-right: $difference-m;

	@media screen and (max-width: $break-s) {
		padding-top: 40vw;
		padding-left: 0px;
		padding-right: 0px;

	}
}
