.modul.maschinen-linien {
	margin-top: -$difference-xs;
	padding-bottom: 0px;
}

.modul.maschinen-linien .right {
	float: left;
	width: calc(#{$right} - #{$padding-sides});
	padding-left: $padding-sides;
	padding-right: 0px;
}

.modul.maschinen-linien .top{
	@extend .font-l;
	@extend .font-regular;
}

.modul.maschinen-linien .left {
	float: left;
	width: calc(#{$left} - #{$padding-sides});
	padding-left: $difference-s;
}

.modul.maschinen-linien .technische-spez {
	margin-bottom: $difference-m;
	@extend .font-medium;
}

.modul.maschinen-linien .item.linie-1,
.modul.maschinen-linien .item.linie-2,
.modul.maschinen-linien .item.linie-3 {
	visibility: hidden;
	height: 0px;
	pointer-events: none;
	overflow: hidden;
}

.active-linie-1 .modul.maschinen-linien .item.linie-1,
.active-linie-2 .modul.maschinen-linien .item.linie-2,
.active-linie-3 .modul.maschinen-linien .item.linie-3 {
	visibility: visible;
	height: auto;
	pointer-events: all;
}


.modul.maschinen-linien .text p {
	@extend .font-s;
}

.modul.maschinen-linien .text li {
	@extend .font-s;
}




.modul.maschinen-linien .navigation-maschinen {
	padding-bottom: $difference-m;
}

.modul.maschinen-linien .navigation-maschinen .top {
	padding-bottom: $difference-m;
	text-align: center;
	@extend .flex-center-align;
}

.modul.maschinen-linien .navigation-maschinen .linien-nav {
	@extend .flex-center-align;
}

.modul.maschinen-linien .navigation-maschinen .item {
	width: calc(100% / 5);
	text-align: center;
	border: solid 1px $blue;
	padding-top: $difference-xs;
	padding-bottom: $difference-xs;
	transition: 0.2s ease;
	cursor: pointer;
}


.modul.maschinen-linien .navigation-maschinen .linie-nav-2 {
	border-left: 0px;
	border-right: 0px;
}

.modul.maschinen-linien .navigation-maschinen .item:hover {
	@extend .background-blue;
}


.active-linie-1 .modul.maschinen-linien .navigation-maschinen .linie-nav-1,
.active-linie-2 .modul.maschinen-linien .navigation-maschinen .linie-nav-2,
.active-linie-3 .modul.maschinen-linien .navigation-maschinen .linie-nav-3 {
	@extend .background-blue;
}
