.modul.link {
	padding-top: $difference-s;
}

.modul.link .link {
	text-align: center;
	@extend .center-padding;

	@media screen and (max-width: $break-s) {
		text-align: left;
	}
}

.modul.link a {
	@extend .font-regular;
	text-transform: uppercase;
	color: $red;
}

.modul.link a:hover {
	color: $blue;
}
