.modul.people .inside {
	@extend .flex-center-align;
  flex-wrap: wrap;
	display: flex;
  justify-content: space-between;

	@media screen and (max-width: $break-s) {
		display: block;
	  flex-wrap: initial;
	  justify-content: initial;
	}
}



.modul.people .right {
	@media screen and (max-width: $break-s) {
		display: block;
		overflow-x: scroll;
		width: calc(100% - #{$difference-m});
	}
}




.modul.people .item {
	width: calc(100% / 3.2);
	margin-bottom: $difference-m;

	@media screen and (max-width: $break-s) {
		width: 60vw;
		float: left;
		padding-left: $difference-s;
		padding-right: $difference-s;
	}
}

.modul.people .item img {
	width: 100%;
	height: 30vw;
	object-fit: cover;

	@media screen and (max-width: $break-s) {
		height: 60vw;
	}
}

.modul.people .text {
	margin-top: $difference-s;
}

.modul.people .text p,
.modul.people .text a {
	@extend .font-s;
}
