.modul.slideshow-textbox {
	padding-bottom: 0px;
  display: flex;
}

.modul.slideshow-textbox .right {
	float: left;
	width: calc(#{$right} - #{$padding-sides});
	padding-left: $padding-sides;
	padding-right: 0px;
}

.modul.slideshow-textbox .left {
	float: left;
	width: calc(#{$left} - #{$padding-sides});
	padding-left: $difference-s;
}

.modul.slideshow-textbox .technische-spez {
	margin-bottom: $difference-m;
	@extend .font-medium;
}

.modul.slideshow-textbox  .text p {
	@extend .font-s;
}

.modul.slideshow-textbox  .text li {
	@extend .font-s;
}
