.modul.text {
  display: flex;
	position: relative;
	padding-bottom: $difference-m;

	@media screen and (max-width: $break-s) {
		display: inline-block;
	}
}

.modul.text .logo-electronic {
  margin-top: $difference-s;
}

.modul.text .logo-electronic img {
  width: 15%;
}

.modul.text .logo-electronic.big img {
  width: 25%;

	@media screen and (max-width: $break-s) {
  	width: 15%;
	}
}
