.modul.background-link {
	text-align: center;
	padding-top: $difference-xl;
	padding-bottom: $difference-xl;
}

.modul.background-link .top {
	@extend .font-xl;
	@extend .font-regular;
	@extend .center-padding;
}


.modul.background-link .bottom {
	padding-top: $difference-l;
}

.modul.background-link .bottom a {
	@extend .font-regular;
	@extend .font-l;
}

.modul.background-link .top {
	@media screen and (max-width: $break-s) {
		padding-left: $difference-l;
    padding-right: $difference-l;
	}
}
