$blue: #182130;
$red: #e4002b;
$beige: #ebe8e3;

$break-m: 900px;
$break-s: 600px;

$left: 45%;
$right: 55%;
$padding-sides: 50px;

$difference-xs: 10px;
$difference-s: 20px;
$difference-m: 40px;
$difference-l: 50px;
$difference-xl: 80px;
$difference-xxl: 120px;
