$blue: #182130;
$red: #e4002b;
$beige: #ebe8e3;
$dark-beige: #d2cfcb;

$break-m: 900px;
$break-s: 800px;

$left: 42%;
$right: 58%;

$simple-left: 25%;
$simple-right: 75%;

$padding-sides: 50px;

$difference-xxs: 5px;
$difference-xs: 10px;
$difference-s: 20px;
$difference-m: 40px;
$difference-l: 50px;
$difference-xl: 80px;
$difference-xxl: 120px;
